.red{
	background-color: #c10100;
}

.blue{
	background-color: #020360;
}

.orange{
	background-color: #fd7336 ;
}

.yellow{
	background-color: #f0d500;
}

.green{
	background-color: #68a728;
}

.pink{
	background-color: #cf0052;
}

.purple{
	background-color: #b464c5;
}

.light_blue{
	background-color: #90c6e4;
}