.wrap {
	max-width: 570px;
	margin: 0 auto;
	border: 1px solid gray;
	/*height: 100vh;*/
	vertical-align: center;
}

.blocks {
	display: flex;
	flex-wrap: wrap;
}

.blocks__block {
	position: relative;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: 2px;
	transition: transform 0.4s ease;
	transform: rotateX(0deg);

	background-color: gray;
}
/*.red::after {
	background-color: red;
}*/
.show_color {
	transform: rotateY(180deg);
}
.blocks_block {
	transform-style: preserve-3d;
}
.blocks_block::after {
	transform: rotateX(180deg);
	/*background-color: red;*/
}
.blocks_block::before {
	transform: translateZ(1px);
}

.blocks_block::after, .blocks_block::before {
	display: block;
	content: '';
	position: absolute;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backface-visibility: hidden;
}